p {
    font-size: 100px;
}

#jumbo {
    background-image: url("./overwatch-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gameinfo.lead {
    font-size: 30px;
}

.jumbotron {
    padding: 2rem;
}

.lead {
    font-size: 25px;
}

#me.lead {
    padding-top: 30px;
}

.display-3 {
    font-size: 70px;
    font-weight: bold;
}
