li {
    font-size: 40px;
    color: black;
    margin: 0px 20px 0px 20px;
}

ul {
    margin: 0 auto;
}

#scores {
    text-decoration: underline;
}

hr {
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}